<!-- <button mat-button color="basic">Click</button>
<button mat-raised-button color="primary">raised</button>
<button mat-flat-button	color="accent">flat</button>
<button mat-stroked-button color="warn">Stroked</button>
<button mat-icon-button colo ="disabled">Icon</button>
<button mat-fab	color="link">fab</button>
<button mat-mini-fab>mini-fab</button> -->
<!-- child component -->
<div class="container">
<h1>
    <nav><a routerLink="/home">{{title}}</a></nav>
</h1>
<mat-slide-toggle color="primary" (click)="login()">LogIn</mat-slide-toggle>
</div>
<router-outlet></router-outlet>